In [2]:
import pandas as pd

**Домашнее задание**

**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [82]:
rats = pd.read_csv('ratings.csv')
movi = pd.read_csv('movies.csv')


movi['title'][movi.movieId == rats[(rats.rating == 5.0)].movieId.value_counts().index[0]].values[0]

'Shawshank Redemption, The (1994)'

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [45]:
data1 = pd.read_csv('power.csv')



Filtred = data1[ ((data1['country']=='Latvia')|(data1['country']=='Lithuania') |(data1['country']=='Estonia'))]
#Filtred = data1[ ((data1['country']=='Latvia')|(data1['country']=='Lithuania') |(data1['country']=='Estonia')) and ((data1.category == 4) | (data1.category == 12) | (data1.category == 21)) and ((data1.year >= 2005) | (data1.year <= 2010))]

Filtred = Filtred[ (Filtred.category == 4) | (Filtred.category == 12)| (Filtred.category == 21)]
Filtred[ (Filtred.year >= 2005) | (Filtred.year <= 2010)].head(10000)

          country  year  quantity  category
10617     Estonia  2008       1.0         4
10618     Estonia  2007       0.0         4
10619     Estonia  2006       0.0         4
10620     Estonia  2005       1.0         4
10621     Estonia  2004       1.0         4
...           ...   ...       ...       ...
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21
253988  Lithuania  2003       0.0        21
253989  Lithuania  2002       0.0        21
253990  Lithuania  2001       0.0        21

[1253 rows x 4 columns]

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [84]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  90.61      -0.65         -0.71        NaN
1       USDRUB Курс рубля к доллару  75.68      -0.18         -0.24        NaN